# User service

[Unit]
Description=KBIdle

[Service]
ExecStart=/usr/local/bin/kbidle 10000
Restart=always

[Install]
WantedBy=graphical-session.target
